tools/log_files/

*.dump

*.testdump

tools/__pycache__/

tools/data/
!tools/data/1F_ADC1_AC_CAL_19V5_100HZ_5MHZ.json
/Release/

*.d

*.o

*.elf

*.hex

*.map

Debug/

\.cproject

st-link\.cfg

tools/linux_tty_lister\.sh

tools/venv/

Debug Internal/
